
* {
  transition: all 0.5s, color 0.5s; 
}

button:hover {
  background-color: rgba(221, 221, 221, 0.4);
  color: rgb(0, 0, 0);
}

/* Fade effects */

.fadeSidebar {
  opacity: 0.5;
  transition: opacity 1s ease-in-out;
}

.fadeSidebar:hover {
  opacity: 1;
}

.fadeButton {
  opacity: 0.5;
  transition: opacity 500ms ease-in-out;
}

.fadeButton:hover {
  opacity: 1;
}

/* Dark Mode Toggle */

#DarkModeToggle {
  opacity: 0.5;
  transition: opacity 500ms ease-in-out;
} 

#DarkModeToggle:hover {
  opacity: 1;
}

/* Document Title */

#Title {
  padding-bottom: 2vh;
}

/* Editor */


#documentTitle {
  padding-bottom: 2.5vh;
}

.wrapper-class {
   width: 100%;
   height: 100%;
}
.editor-class {
  padding: 1rem;
  height: 100%;
  overflow: hidden;
}

.toolbar-class {
  background: light-grey;
  border: none;
  color: rgb(72, 72, 72);
}

.rdw-option-wrapper {
  background: none;
  border: none;
  color: white;
  opacity: 0.5;
  transition: opacity 500ms ease-in-out;
}

.rdw-option-wrapper:hover {
  opacity: 1;
  border: none;
  box-shadow: none;
}


.preview {
  padding: 1rem;
  margin-top: 1rem;
}

/* HTML View */

.code-view {
  padding: 1rem;

  margin: 10px;
}

.text-area {
  width: 100%;
  background: black;
  border: 1px solid #ccc;
  color: white;
  min-height: 200px;
}