/* Dark Mode Toggle */

#DarkModeToggle {
  opacity: 0.5;
  transition: opacity 250ms ease-in-out;
} 

#DarkModeToggle:hover {
  opacity: 1;
}

/* Editor */

.wrapper-class {
  padding: 1rem;
  border: 1px solid #ccc;
}
.editor-class {
  background-color:lightgray;
  padding: 1rem;
  border: 1px solid #ccc;
}
.toolbar-class {
  border: 1px solid #ccc;
}

.preview {
  padding: 1rem;
  margin-top: 1rem;
}



.code-view {
  padding: 1rem;

  margin: 10px;
}

.text-area {
  width: 100%;
  background: black;
  border: 1px solid #ccc;
  color: white;
  min-height: 200px;
}
